@use "./colors.scss";
@use "./mixins.scss";
@use "./reset.scss";

:root {
  color-scheme: light dark;
}

body {
  transition: 100ms ease-out;
  @include mixins.theme(light, true) {
    background-color: colors.$color-gray-200;
    color: colors.$color-gray-900;
  }
  @include mixins.theme(dark, true) {
    background-color: colors.$color-gray-900;
    color: colors.$color-gray-200;
  }
}
