@use "../../assets/styles/colors.scss";
@use "../../assets/styles/mixins.scss";

.button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: 0;
  border-radius: 1rem;
  height: 3rem;
  padding: 0 1.5rem;
  width: fit-content;
  transition: 100ms ease-out;
  &:not(:disabled, .disabled) {
    cursor: pointer;
  }
  &.filled {
    &:not(:disabled, .disabled) {
      & {
        @include mixins.theme(light) {
          background-color: colors.$color-primary-700;
          color: colors.$color-white;
        }
        @include mixins.theme(dark) {
          background-color: colors.$color-primary-200;
          color: colors.$color-primary-900;
        }
      }
      &:hover {
        @include mixins.theme(light) {
          background-color: colors.$color-primary-600;
        }
        @include mixins.theme(dark) {
          background-color: colors.$color-primary-300;
        }
      }
      &:focus {
        @include mixins.theme(light) {
          background-color: colors.$color-primary-600;
        }
        @include mixins.theme(dark) {
          background-color: colors.$color-primary-300;
        }
      }
    }
    &:disabled,
    &.disabled {
      opacity: 0.5;
      @include mixins.theme(light) {
        background-color: colors.$color-gray-400;
        color: colors.$color-gray-800;
      }
      @include mixins.theme(dark) {
        background-color: colors.$color-gray-800;
        color: colors.$color-gray-400;
      }
    }
  }
}
