.main-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-layout {
  flex: 1;
  display: flex;
}

.content-wrapper {
  flex: 1;
  background-color: var(--color-neutral-100);
  padding: 1rem;
}
